// fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@500&family=Quicksand&display=swap");

// font-family: 'Bebas Neue', cursive;
// font-family: 'Caveat', cursive;
// font-family: 'Quicksand', sans-serif;

// variables
$ourBlack: #363636;
$footerGrey: #adadad;

// rules
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 50px auto;
  margin-bottom: 0px;
  font-family: "Quicksand", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 30% auto;
  border-bottom: 23px solid $ourBlack;
  padding-bottom: 20px;
  .logo {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
    p {
      font-family: "Caveat", cursive;
      text-align: center;
      font-size: 1.7vw;
    }
  }
  nav {
    display: flex;
    ul {
      list-style: none;
      display: flex;
      align-self: flex-end;
      width: 70%;
      justify-content: space-between;
      margin-left: auto;

      a {
        text-decoration: none;
        color: black;
        font-size: 1.4vw;
      }
    }
  }
}

#latestPosts {
  width: 90%;
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
}

.post {
  width: 23.7%;
  font-size: 1vw;
  img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .postFoot {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    .postAuthor,
    .postDate {
      font-size: 0.6em;
    }
  }
}

#bottomRow {
  border-top: 10px solid $ourBlack;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  #memberPic {
    width: 39.2%;
    img {
      width: 100%;
      height: auto;
      // min-width: 412px;
    }
  }

  #memberInfo {
    margin: auto;
    width: 39.2%;
    h1 {
      width: 80%;
      margin: auto;
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-family: "Bebas Neue", cursive;
      text-align: center;
      letter-spacing: 0.3em;
      font-size: 2vw;
      border-bottom: 3px solid $ourBlack;
    }
    p {
      text-align: center;
      font-size: 1.6vw;
    }
  }

  #newsLetterBox {
    width: 18.6%;
    img {
      width: 100%;
      height: auto;
    }
    form {
      input[type="email"] {
        display: block;
        width: 100%;
        height: 37px;
        margin: 5px auto;
        padding: 2px 4px;
        border: 2px solid $ourBlack;
      }
      input[type="submit"] {
        display: block;
        width: 100%;
        height: 37px;
        border: none;
        background-color: $ourBlack;
        color: white;
        font-family: "Bebas Neue", cursive;
        font-size: 2vw;
        letter-spacing: 0.4em;
      }
    }
  }
}

footer {
  height: 5.5%;
  display: flex;
  justify-content: space-between;
  background-color: $footerGrey;
  padding: 1.2% 2.2%;
  margin-top: 30px;
  margin-bottom: 0;

  span {
    width: 30%;
    align-self: center;
    font-size: 1.5vw;
  }

  img {
    width: 3vw;
    height: 100%;
  }
}

// media quieries

@media all and (max-width: 400px) {
  header {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    .logo {
      display: flex;
      flex-direction: column;
      img {
        width: 60vw;
        align-self: center;
      }
      p {
        font-size: 3.5vw;
      }
    }

    nav {
      border-top: 2px solid $ourBlack;
      border-bottom: 2px solid $ourBlack;
      height: 5vh;
      margin-top: 10px;
      ul {
        width: 100%;
        margin: auto;
        justify-content: space-between;
        a {
          font-size: 4vw;
        }
      }
    }
  }

  #latestPosts {
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    .post {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $ourBlack;
      width: 100%;
      font-size: 4vw;
      .postFoot {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        .postAuthor,
        .postDate {
          font-size: 0.6em;
        }
      }
    }
  }

  #bottomRow {
    border-top: none;
    margin-top: -20px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    // background-color: saddlebrown;
    justify-content: space-between;
    width: 100%;

    #memberPic {
      width: 100%;
    }

    #memberInfo {
      width: 100%;
      margin-top: 20px;
      border-bottom: 3px solid $ourBlack;
      padding-bottom: 10px;
      h1 {
        width: 100%;
        margin: auto;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-family: "Bebas Neue", cursive;
        text-align: center;
        letter-spacing: 0.3em;
        font-size: 5vw;
        border-bottom: 3px solid $ourBlack;
      }
      p {
        text-align: center;
        font-size: 4vw;
        line-height: 2em;
      }
    }

    #newsLetterBox {
      width: 100%;
      margin-top: 20px;
      img {
        width: 100%;
        height: auto;
      }
      form {
        input[type="email"] {
          display: block;
          width: 100%;
          height: 37px;
          margin: 5px auto;
          padding: 2px 4px;
          border: 2px solid $ourBlack;
        }
        input[type="submit"] {
          display: block;
          width: 100%;
          height: 37px;
          border: none;
          background-color: $ourBlack;
          color: white;
          font-family: "Bebas Neue", cursive;
          font-size: 5vw;
          letter-spacing: 0.4em;
        }
      }
    }
  }

  footer {
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: $footerGrey;
    padding: 1.2% 2.2%;
    margin-top: 30px;
    margin-bottom: 0;

    span {
      width: 30%;
      align-self: center;
      font-size: 1.5vw;
    }

    img {
      height: 80%;
      width: auto;
      margin-top: 3px;
    }
  }
}
